.gameObjectList {
    /* 700 */
    @apply bg-zinc-400 dark:bg-zinc-800;
    max-width: 25vw;
    max-height: 100vh;

    overflow-y: auto;
    overflow-x: auto;
}

@media (max-width: 480px) {
    .gameObjectList {
        max-width: 100%;
        max-height: max-content;
    }
}
