.gameObjectList {
  /* 700 */
  @apply bg-zinc-400 dark:bg-zinc-800;
  width: 100%;
  height: 100%;
}

.leftPanelScreen {
  /* 700 */
  @apply bg-zinc-400 dark:bg-zinc-800;
  width: 100%;
  height: 100%;
}

.leftPanel {
  display: flex;

  height: 100%;
  height: 100%;

  flex-direction: column;
}

.leftPanelTabs {
  display: flex;
  width: 100%;

  /* this pushes it down */
  margin-top: auto;
  align-self: flex-end;
  justify-content: center;

  @apply py-2
}

@media (max-width: 500px) {
  .gameObjectList {
    width: 100%;
    height: 25vh;
  }
}
