.container {
    overflow: auto;
    height: 100%;
}

.scroller {
    width: 100%;
    min-width: max-content;
}

.itemContainer {
    width: 100%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
