@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply bg-zinc-100 dark:bg-zinc-900
         text-black dark:text-white
         fill-black dark:fill-white
         w-screen h-screen overflow-hidden;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

div {
  position: relative;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: max-content;
  max-height: max-content;
}

.container {
  margin: 0;
  /* padding-top: 10vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header {
  @apply bg-zinc-300 dark:bg-zinc-800
           text-lg font-mono px-2;

  cursor: pointer;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  @apply text-blue-700 dark:text-blue-300;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover,
a:focus {
  @apply text-blue-800 dark:text-blue-200;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

img.light-invert {
  @apply invert dark:filter-none;
}

input,
button,
button[type="submit"] {
  @apply bg-white dark:bg-black
         shadow-gray-400 dark:shadow-black;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px var(--tw-shadow-color);
}

input:not(.toggle) {
  border-style: none none solid none;
  transition: border-radius 0.1s;
}
input.toggle {
  @apply bg-zinc-300 dark:bg-zinc-700;
  --tglbg: white;
  border: none;
}
input.toggle:is(.dark *) {
  --tglbg: black;
}
button {
  align-content: center;
  cursor: pointer;
}

input:not(.toggle):hover,
button:hover,
input:not(.toggle):focus,
button:focus {
  @apply border-blue-300 dark:border-blue-600;
}
button:active {
  @apply bg-slate-100 dark:bg-slate-900;
}

input:not(.toggle):hover,
input:not(.toggle):focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input:not(.toggle).invalid {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: red;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

/* segmented control */

input.btn {
  @apply bg-white dark:bg-black
         shadow-gray-400 dark:shadow-black
         text-black dark:text-white;
  border-color: transparent;
}
input.btn:hover {
  @apply bg-zinc-100 dark:bg-zinc-900
}
input[type="radio"].btn:checked {
  @apply bg-blue-200 dark:bg-blue-800
         text-black dark:text-white;
}
input[type="radio"].btn:checked:hover {
  @apply bg-blue-300 dark:bg-blue-700;
}

input,
button {
  outline: none;
}
button > img,
button > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.small-button {
  padding: 2px;
}
.small-button > img,
.small-button > svg {
  width: 18px;
  height: 18px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.small-input {
  padding: 2px;
  line-height: 16px;
}

.solid-select-container {
  width: 100%;
}

.solid-select-control {
  border: none;
  padding: 0px;
}

.solid-select-placeholder {
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.solid-select-single-value {
  text-overflow: clip;
  overflow-x: scroll;
}
.solid-select-placeholder,
.solid-select-single-value {
  white-space: pre;
  line-height: 16px;
  align-content: center;
  cursor: text;
  scrollbar-width: 0;
  padding: 1px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: border-color 0.25s;
  transition: border-radius 0.1s;
  border-radius: 8px;
}
.solid-select-placeholder::-webkit-scrollbar,
.solid-select-single-value::-webkit-scrollbar {
  display: none;
}
.solid-select-placeholder:hover,
.solid-select-single-value:hover {
  @apply border-blue-300 dark:border-blue-600
         bg-white dark:bg-black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.solid-select-input {
  border: 1px solid transparent;
  line-height: 16px;
  padding: 2px;
}

.solid-select-list {
  @apply bg-neutral-100 dark:bg-zinc-800
    space-y-1;
  border-radius: 8px;
  padding: 2px;
}

.solid-select-option,
.solid-select-list-placeholder {
  padding: 0.25rem;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 8px;
}
.solid-select-option[data-focused="true"] {
  @apply bg-neutral-200 dark:bg-zinc-700;
}
.solid-select-option:hover {
  @apply bg-neutral-300 dark:bg-zinc-600;
}
